.DS_Store
.cursor/
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
DerivedData/
build/
*.ipa
MyPocketFinance-simulator-release.zip
*.dSYM
*.dSYM.zip
.swiftpm/
.build/
*.log
vendor/bundle/
.bundle/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
